Resumão:
-O pandas trata as tabelas como um "DataFrame()";
-Um dicionário no python é convertido em um DataFrame() (e vice versa) #Dicionário é uma estrutura de dados que se assemelha a uma tabela

----------Comandos do pandas----------

||| Criação de uma DataFrame() |||

- A partir de um dicionário definido no código em python:
venda = {'data': ['15/02/2021', '16/02/2021', '31/12/2001'],
         'valor': [500, 300, 500],
         'produto': ['feijao', 'arroz', 'cenoura'],
         'qtde': [50, 70, 30],
        }
tb_vendas = pd.DataFrame(venda)


- A partir de um arquivo .xlsx (Excel):
tb_vendas = pd.read_excel("Vendas.xlsx") #Coloca-se o destino no parâmetro

-------------------------------------------------------------------------------------------------------------------------------

||| Visualização de dados |||
display(tb_vendas) #é uma forma visualmente mais agradável
print(tb_vendas)
display(tb_vendas.head(i)) #vai mostrar os i primeiros elementos
display(tb_vendas.shape) #vai mostrar a quantidade de linhas e colunas da tabela
display(tb_vendas.describe()) #vai mostrar informações interessantes
                              #count: quantidade total
                              #mean: média
                              #std: desvio padrão
                              #min: mínimo
                              #max: máximo
                              
- Para exibir colunas específicas de uma tabela:
variavel = tb_vendas['nomeColuna']
variavel = tb_vendas[[['nomeColuna1', 'nomeColuna2', 'nomeColuna3']]] #mais de uma coluna
display(variavel)

-Para exibir uma linha específica de uma tabela:
display(tb_vendas.loc[i:j]) #i e j são os índices da linhas

-Para exibir linhas a partir de uma condição:
display(tb_vendas.loc[tabela[parametro] == condicao)
display(tb_vendas.loc[tb_vendas['ID Loja'] == 'Norte Shopping'])

-Para exibir linhas e colunas específicas:
display(tb_vendas.loc[tabela[parte da tabela] == condicao, ["coluna1", "coluna2", "coluna3"]])
display(tb_vendas.loc[tb_vendas['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]])

-Para exibir uma linha e uma coluna específicas:
display(tb_vendas.loc[linha, coluna])
display(tb_vendas.loc[1, 'Produto'])

-------------------------------------------------------------------------------------------------------------------------------

||| Adicionar Linhas e Colunas |||

# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [2]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [15]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021', '31/12/2001'],
         'valor': [500, 300, 500],
         'produto': ['feijao', 'arroz', 'cenoura'],
         'qtde': [50, 70, 30],
        }

tb_vendas = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [16]:
display(tb_vendas)

         data  valor  produto  qtde
0  15/02/2021    500   feijao    50
1  16/02/2021    300    arroz    70
2  31/12/2001    500  cenoura    30

### Importando arquivos e bases de dados

In [18]:
tb_vendas = pd.read_excel("Vendas.xlsx")
display(tb_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [31]:
display(tb_vendas.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [28]:
produtos = tb_vendas['Valor Unitário']
display(produtos)

0        358
1        180
2        368
3        200
4         71
        ...
93905    283
93906     79
93907     67
93908    114
93909    259
Name: Valor Unitário, Length: 93910, dtype: int64

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [46]:
display(tb_vendas.loc[tb_vendas['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]].head(10))

            ID Loja                 Produto  Quantidade
3    Norte Shopping                 Relógio           3
4    Norte Shopping            Chinelo Liso           1
8    Norte Shopping  Camisa Gola V Listrado           1
9    Norte Shopping             Camisa Liso           1
100  Norte Shopping            Cueca Xadrez           5
101  Norte Shopping          Cueca Listrado           1
182  Norte Shopping                   Cueca           2
201  Norte Shopping           Camisa Xadrez           2
202  Norte Shopping                   Cueca           3
203  Norte Shopping              Gorro Liso           2

### Adicionar 1 coluna

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

### Excluir linhas e colunas

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

### Calcular Indicadores
    - Groupby
    - Value Counts

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição